<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vps.vpstest">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoDisplay">
        <activity android:name="com.vps.vpstest.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"></activity>
        <service android:name="com.vps.vpstest.MainService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>